"""
Twitter API keys.
You can get yours at https://apps.twitter.com/ by making a new app.
"""
TWITTER_KEYS = {
    "consumer_key": "",
    "consumer_secret": "",
    "access_token": "",
    "access_token_secret": ""
}
